html, body{
    margin: 0;
    padding: 0;
}

.exercises{
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
}

.exercise{
    display: flex;
    align-items: center;
    background-color: #EADEDB;
    height: 120px;
    width: 140px;
    margin-right: 52px;
    margin-bottom: 30px;
    padding: 12px;
}

.exercise__last{
    margin-right: 0;
}

.exercise__a{
    color: black;
    text-decoration: none;
}