html, body{
    margin: 0;
    padding: 0;
}

.exercises{
    display: flex;
    margin: 60px;
}

.exercise{
    display: flex;
    align-items: center;
    background-color: rgba(0,171,169 ,1);
    height: 120px;
    width: 140px;
    margin-right: 30px;
    padding: 7px;
}

.exercise__a{
    color: black;
    text-decoration: none;
}