 #field {
     width: 200px;
     height: 150px;
     border: 10px solid black;
     background-color: #00FF00;
     overflow: hidden;
     position: relative;
     cursor: pointer;
 }

 #ball {
     position: absolute;
     transition: all 1s;
 }

 body {
     height: 2000px
 }

 div {
     margin: 10px;
 }
